{
  "printWidth": 110,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["**/*.css", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
