// dashboard.component.scss
// ---------------------------------
@import '../../../styles/app-colors';

app-dashboard {
  display: grid;
  height: 100%;


  .mat-drawer-inner-container {
    background: $blue-seven-five;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
  }

  mat-sidenav-container {

    mat-sidenav {

      border: none;

      &-content {
        background: whitesmoke;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        -webkit-backdrop-filter: blur( 3.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
      }

      mat-nav-list {
      }
    }
  }
}

