<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="warehouse" routerLinkActive="active">Warehouse</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>




  <!-- <div class="side-nav">
    <div class="side-nav-header">
      <div class="side-nav-header__logo">
        x
      </div>
      <div class="side-nav-header__title">
        <h1>Dashboard</h1>
      </div>
    </div>
    <div class="side-nav-body">
      <div class="side-nav-body__item">
        <div class="side-nav-body__item__icon">
          <fa-icon [icon]="faHome"></fa-icon>
        </div>
        <div class="side-nav-body__item__title">
          <h2>Dashboard</h2>
        </div>
      </div>
      <div class="side-nav-body__item">
        <div class="side-nav-body__item__icon">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="side-nav-body__item__title">
          <h2>Clients</h2>
        </div>
      </div>
      <div class="side-nav-body__item">
        <div class="side-nav-body__item__icon">
          <fa-icon [icon]="faChartLine"></fa-icon>
        </div>
        <div class="side-nav-body__item__title">
          <h2>Employees</h2>
        </div>
      </div>
      <div class="side-nav-body__item">
        <div class="side-nav-body__item__icon">
          <fa-icon [icon]="faChartLine"></fa-icon>
        </div>
        <div class="side-nav-body__item__title">
          <h2>Finance</h2>
        </div>
      </div>
      <div class="side-nav-body__item">
        <div class="side-nav-body__item__icon">
          <fa-icon [icon]="faCog"></fa-icon>
        </div>
        <div class="side-nav-body__item__title">
          <h2>Setting</h2>
        </div>
      </div>
    </div>
  </div> -->


