$blue: rgb(13, 48, 255);
$blue-seven-five: rgba(13, 48, 255, .75);
$blue-five: rgba(13, 48, 255, .5);
$blue-two-five: rgba(13, 48, 255, .25);
$blue-one: rgba(13, 48, 255, .1);
$blue-light: rgb(11, 118, 222);
$blue-light-seven-five: rgba(11, 118, 222, .75);
$blue-light-five: rgba(11, 118, 222, .5);
$blue-light-two-five: rgba(11, 118, 222, .25);
$blue-light-one: rgba(11, 118, 222, .1);
$blue-lighter: rgb(0, 211, 245);
$blue-lighter-seven-five: rgba(0, 211, 245, .75);
$blue-lighter-five: rgba(0, 211, 245, .5);
$blue-lighter-two-five: rgba(0, 211, 245, .25);
$blue-lighter-one: rgba(0, 211, 245, .1);
$blue-green: rgb(11, 222, 172);
$blue-green-seven-five: rgba(11, 222, 172, .75);
$blue-green-five: rgba(11, 222, 172, .5);
$blue-green-two-five: rgba(11, 222, 172, .25);
$blue-green-one: rgba(11, 222, 172, .1);
$green: rgb(21, 222, 11);
$green-seven-five: rgba(21, 222, 11, .75);
$green-five: rgba(21, 222, 11, .5);
$green-two-five: rgba(21, 222, 11, .25);
$green-one: rgba(21, 222, 11, .1);
$green-light: rgb(7, 250, 99);
$green-light-seven-five: rgba(7, 250, 99, .75);
$green-light-five: rgba(7, 250, 99, .5);
$green-light-two-five: rgba(7, 250, 99, .25);
$green-light-one: rgba(7, 250, 99, .1);
$violet:rgb(171, 11, 222);
$violet-seven-five:rgba(171, 11, 222, .75);
$violet-five:rgba(171, 11, 222, .5);
$violet-two-five:rgba(171, 11, 222, .25);
$violet-one:rgba(171, 11, 222, .1);
$violet-blue: rgb(103, 7, 250);
$violet-blue-seven-five: rgba(103, 7, 250, .75);
$violet-blue-five: rgba(103, 7, 250, .5);
$violet-blue-two-five: rgba(103, 7, 250, .25);
$violet-blue-one: rgba(103, 7, 250, .1);
$white:rgb(249, 251, 255);
$white-seven-five:rgba(249, 251, 255, .75);
$white-five:rgba(249, 251, 255, .5);
$white-two-five:rgba(249, 251, 255, .25);
$white-one:rgba(249, 251, 255, .1);
$black: rgb(59, 68, 75);
$black-seven-five: rgba(59, 68, 75, .75);
$black-five: rgba(59, 68, 75, .5);
$black-two-five: rgba(59, 68, 75, .25);
$black-one: rgba(59, 68, 75, .1);
