app-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #e5e5f7;
  background-color: #e5e5f7;
  ::placeholder {
    color: ghostwhite;
  }

  form {
    background: rgba(16, 197, 197, 0.30);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(16, 197, 197, 0.47);

    height: 20rem;
    width: 30rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-field {
      width: 20rem;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      border-radius: .5rem;

      input {
        padding: .5rem 1rem .5rem;
        position: relative;
        width: 200px;
        height: 24px;

        border: none;
        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255,255,255,0.2);
        border-left: 1px solid rgba(255,255,255,0.2);
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        color: rgb(255, 255, 255);
        transition: color 0.3s ease-out;

        border: none;
        border-radius: .5rem;
        background-color: transparent;
        resize: none;
        outline: none;
      }
    }
  }

  .glass-button {
    display: inline-block;
    padding: .5rem;
    border: 0;
    text-decoration: none;
    border-radius: .5rem;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    width: 5rem;
    cursor: pointer;
  }

  .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }


  .login-form {
    width: 300px;
    .login-form-button {
      width: 100%;
    }
  }
}
